{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Teams 

{% endblock %}


{% block content %}
  <span id="teamHero">
    Teams
  </span>
    <div id="teamContainer">
      {% for team in teams %}
       <article class="team">
          <header>
              <a href="/team/{{team.code}}">
                <h1><strong>{{ team.name }}</strong></h1> 
              </a>
          </header>
          <h4>{{team.code}}</h4>
          <p>{{team.description}}</p>
          <footer>
            <a href="/team/{{team.code}}">See More</a>
            <a href="https://www.{{team.website}}">↗</a>
          </footer>
       </article>
      {% endfor %}
    </div>

    {# Only show form if user is logged in #}
    {% if session.user_id %}
      <div id="formContainer">
        <article class="form">
            <h3>Create your own Team</h3>

            <form action="/add-team" method="POST">

              <span>Name</span>
              <input type="text" name="name" placeholder="Team One" required> 

              <span>3 Letter Code</span>
              <input type="text" name="code" placeholder="TM1" maxlength="3"  required>

              <span>Description</span>
              <input type="text" name="description" placeholder="The coolest team there is." required>

              <span>Website</span>
              <input type="text" name="website" placeholder="helloworld.com" required>

              <button>Create Team</button>

            </form>
        </article>
      </div>
    {%else%}
    <article>
      <h3>Want your own team?</h3>
      <p>To create your own team, register or log in.</p>
      <a role="button" href="/register">Register</a>
      <a role="button" href="/login">Log in</a>
    </article>

    {% endif %}

{% endblock %}

