{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

  <h1>Teams</h1>
        
    {% for team in teams %}

        <article>
            <a href="/team/{{ team.code }}">
            <h1><strong>{{ team.name }}</strong></h1> </a>
            <h4>{{team.code}}</h4>
            <p>{{team.description}}</p>
            <footer><a href="/team/{{team.code}}">See More</a></footer>
        </article>

    {% endfor %}

    {# Only show form if user is logged in #}
    {% if session.user_id %}

        <article>

            <h3>Create your own Team</h3>

            <form action="/add" method="POST">

              <span>Name</span>
              <input type="text" name="name" placeholder="Team One" required> 

              <span>3 Letter Code</span>
              <input type="text" name="code" placeholder="TM1" maxlength="3"  required>

              <span>Description</span>
              <input type="text" name="description" placeholder="The coolest team there is." required>

              <span>Website</span>
              <input type="text" name="website" placeholder="helloworld.com" required>

              <button>Create Team</button>

            </form>

        </article>

    {%else%}
    <article>
      <h3>Want your own team?</h3>
      <p>To create your own team, register or log in.</p>
      <a role="button" href="/register">Register</a>
      <a role="button" href="/login">Log in</a>
    </article>

    {% endif %}

{% endblock %}

