{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Team {{team.code}}

{% endblock %}


{% block content %}

    <h1>{{team.name}}</h1>
    <p>{{team.description}}</p>
    <a>{{team.website}}</a>

    <article>

        <header>
            <h3>{{ team.name }}</h3>
        </header>

        <p>Price: <strong>${{ team.code }}</strong></p>

        <footer>

            {# Only show delete link if logged in AND owner 
            {% if session.user_id and (thing.user_id == session.user_id) %}

                <a href="/delete/{{ thing.id }}" onclick="return confirm('Really delete?');">Delete</a>

            {% else %}

                Owner: <strong>{{ thing.owner }}</strong>

            {% endif %} #}

        </footer>

    </article>


    <a role="button" href="/things">Back to Thing List</a>

{% endblock %}

