{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Team {{team.code}}

{% endblock %}


{% block content %}

    <article>

        <header>
            <h1>{{team.name}}</h1>
            <h3>{{team.code}}</h3>
        </header>

        <p>{{team.description}}</p>

        <a href="https://{{team.website}}">{{team.website}}</a>

        
        <p>session.user_id = {{session.user_id}}</p>
        <p>team.manager = {{team.manager}}</p>

        <footer>

            {# Only show delete link if logged in AND owner #}
            {% if session.user_id and (team.manager == session.user_id) %}

                <p>Manager: <strong>You</strong></p>

                <a role="button" href="/delete/{{team.code}}" onclick="return confirm('Really delete?');">Delete Team</a>

            {% else %}
            
                <p>
                    Manager: <strong>{{ team.manager }}</strong>
                </p>
            
            {% endif %} 

        </footer>

    </article>

    <article>
        <header>
            <h1>Players</h1>
        </header>
        <ol>

        </ol>
        <footer>
            <p>footer</p>
        </footer>
    </article>

    


    <a role="button" href="/">Back to Teams</a>

{% endblock %}

