/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/

/* TEAM PAGE --------------------------------------------- */
article header {
    display: flex;
    padding: 1rem;
    margin: 1;
    gap: 1rem;
    align-items: baseline;
}

article header h1, article header p{
    padding: 0rem;
    margin: 0;
    
}

article form span {
    padding-left: 0.5rem;
}
/* ABOUT PAGE -------------------------------------------- */

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

