/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/

/* HOME PAGE --------------------------------------------- */

#teamHero {
    display: flex;
    justify-content: center;
    color: var(--pico-h1);
    background-color: var(--pico-primary-background);
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    border-radius: 1rem;
}

#teamContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-width: max-content;
    flex-wrap: wrap;
    margin: 3rem;
    justify-content: center;
}

.team {
    width: 16rem;
    min-height: max-content;
    display: flex;
    flex-direction: column;
}

.team p {
    flex: 1;
}

.team footer {
    display: flex;
    justify-content: space-between;
}

.team footer a {
    text-decoration: none;
}

#formContainer {
    display: flex;
    justify-content: center;
}

.form {
    width: 30rem;
}

#singleTeamContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    width: 100%;
}



/* TEAM PAGE --------------------------------------------- */
article header {
    display: flex;
    padding: 1rem;
    margin: 1;
    gap: 1rem;
    align-items: baseline;
}

article header h1, article header p{
    padding: 0rem;
    margin: 0;
    
}

article h2 {
    margin: 1rem;
}

article form span {
    padding-left: 0.5rem;
}

#playerName {
    padding: 0;
    margin: 0;
}

#delete {
    text-decoration: none;
    color: var(--pico-text);
}

#delete:hover {
    color: var(--pico-primary)
}
/* ABOUT PAGE -------------------------------------------- */

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}

/* MISC ------------------------------------------------ */

#pageFooter {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin: 0;
    margin-top: 1rem;
    width: 100%;
    max-width: 100%;
}

#pageFooter a {
    color: var(--pico-text);
    padding-right: 0.5rem;
}

/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

